$sml-screen-width: 767px;
$header-desktop-height: 113px;
$header-mobile-height: 64px;

.header {
    margin-top:0;
    font-size: 10pt;
    flex-wrap: wrap;
    top: 0;

    h1 {
        font-size: 80%;
    }

    > button {
        visibility: hidden;

        @media all and (max-width: $sml-screen-width) {
            visibility: visible;
        }
    }

    &__tabs {
        list-style: none;
        padding:0;
        margin: 0;
        width: 90%;
        margin-right: 10%;

        @media all and (max-width: $sml-screen-width) {
            display: none;
        }
    }

    .header__greeting__username {
        font-weight: bold;
    }
}

.header__title {
    font-size: 80%;
}