footer {

    margin-top:10px;
    border-top:1px solid #ccc;
    background:#eee;
    font-size:80%;
    bottom:0;

    padding: 1em;
    color: #777;

    /*ul {
        list-style: none;
        padding:0;
        margin: 0;
        &::after {
            content: '.';
            float:none;
            clear:both;
        }


        li {
            float:left;
            padding-right:2em;
            &::after {
                content: '|';
                padding-left:2em;
            }
            &:last-of-type {
                padding-right:0;
            }
            &:last-of-type::after {
                content:'';
                padding:0;
            }
        }
    }*/

}