.detail-field {
    display:table-row;
    padding:1em 10px;
    margin-top:1em;

    label {
        padding-top:.5em;
        padding-bottom:.5em;
        font-weight: light;
        padding-right:.5em;
        display:table-cell;
        width: 7em;
        text-align:right;
        color:#999;
    }
    span {
        padding-top:.5em;
        padding-bottom:.5em;
        display: table-cell;
    }
}
