$sml-screen-width: 767px;
$header-desktop-height: 100px;
$header-mobile-height: 64px;

#app-page{
	overflow-x: hidden;
	margin-top: $header-desktop-height;

	@media all and (max-width: $sml-screen-width) {
        margin-top: $header-mobile-height;
    }
}