
.page {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

.text-content {
    padding: 2em;
}

/* @import './reset';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100,900);

@import './app-styles'

 */
