.confirm-winners-l {
    margin-left: 25px;
    margin-right: 25px;
}

.confirm-winner-list-item-l {
    margin-top:25px;
    -webkit-box-shadow: 2px 2px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 14px -1px rgba(0,0,0,0.75);
}

.confirm-winners-item {

    &.title {
        border-bottom: thin black solid;
    }

    border-bottom: thin #CCCCCC solid;

    & > div {

        float: left;

        &:first-child {
            min-width: 75px;
            text-align: right;
        }

        &:last-child {
            max-width: calc(100% - 35px);
        }
    }
}

.confirm-winners-submit-btn {
    width: 100px;
    margin: 25px auto 5px auto;
}